{% extends 'base.html.twig' %}

{% block title %}
Formularz w Symfony 4
{% endblock %}

{% block body %}
<div class="container">
    <h1>Wyszukiwanie największej liczby w ciągu</h1>
    <p>Wpisz index (n) ostatniej liczby w ciągu. Długośc zbioru wynosić będzie n+1.</p>
    <p>Index musi zawierać się w zbiorze liczb od 1 do 99999 włącznie.</p>

    {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
        <div class="form-group">
        {% if form_errors(form.number)|length or rangeError %}
            <div class="alert alert-danger"  role="alert">
                {{ error }}
            </div>
        {% endif %}
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
            {{ form_row(form.send) }}
        </div>
    {{ form_end(form) }}

    {% if n %}
    <p>Największa liczba w ciągu złożonym z {{n+1}} liczb to <span>{{largest}}</span></p>
    {% endif %}
</div>
{% endblock %}