{% extends 'base.html.twig' %}

{% block title %}
Formularz w Symfony 4
{% endblock %}

{% block body %}
<div class="container">
    <h1>Wyszukiwanie największej liczby w ciągu</h1>
    <p>Wpisz liczbę (test case) oznaczającą index ostatniej liczby w ciągu</p>

    {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
        <div class="form-group">
        {% if form_errors(form.number)|length or rangeError %}
            <div class="alert alert-danger"  role="alert">
                {{ error }}
            </div>
        {% endif %}
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
            {{ form_row(form.send) }}
        </div>
    {{ form_end(form) }}

    {% if n %}
    <p>Test case: {{n}}. Wynik: <span>{{largest}}</span></p>
    {% endif %}
</div>
{% endblock %}